body {
  background: radial-gradient(#e5e5e5, #ffff, #e5e5e5);
}
.cardUI {
  width: 18rem !important;
}

.cardUI:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;
}
.overflow {
  overflow: hidden;
}
.CardImageTop {
  transform: scale(1) !important;
  transition: transform 0.5s ease !important;
}
.CardImageTop:hover {
  transform: scale(1.2) !important;
}
