/*search box css start here*/
.search-sec {
  padding-bottom: 0px !important;
}
.search-slt {
  display: block !important;
  width: 100% !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  color: #55595c !important;
  background-color: #fff !important;
  background-image: none !important;
  border: 1px solid #ccc !important;
  height: calc(3rem + 2px) !important;
  border-radius: 0 !important;
}
.wrn-btn {
  width: 100% !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
  height: calc(3rem + 2px) !important;
  border-radius: 0 !important;
  margin: 0.01rem !important;
}
@media (min-width: 992px) {
  .search-sec {
    position: relative;
    top: -124px;
    background: rgba(26, 70, 104, 0.51);
    overflow: hidden;
    max-height: 122px;
  }
}

@media (max-width: 992px) {
  .search-sec {
    background: #1a4668;
  }
}

section {
  max-height: 500px;
}
